.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.input-style{
  height: 30px ;
  width: 250px ;
  border: 0 ;
  outline: none ;
  border-radius: 5px ;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.Maintable{
  height: 500px;
  width: 500px;
}
td{
  background-color: white;
}
